<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.jarvanmo.rammus">
    <application>
        <service android:name=".RammusPushIntentService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </service>
    </application>
</manifest>
